{% extends "base.html" %}
{% load staticfiles %}

{% block css %}{% endblock css %}

{% block title %}Login{% endblock title %}

{% block content %}
<div>
    <div>
        <div></div>
        <div><br>
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form  %}
                {% if field.errors %}
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
                {% endif %}
                <label for="{{ field.name }}">{{ field.label}}</label>
                {{ field }}<br>
                {% endfor %}
                <p></p><button type="submit">Login</button></p>
            </form>
        </div>
        <div></div>
    </div>
</div>
{% endblock content %}