{% extends "base.html" %}
{% load staticfiles %}

{% block css %}{% endblock css %}

{% block title %}Log In{% endblock title %}

{% block content %}
<div>
    <br>
    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{form.username.label_tag}}
            <input type="text" name="username" class="form-control" id="id_username" placeholder="Enter your username" maxlength="254" autofocus required>
            {% if form.username.errors %}
            {% for error in form.username.errors %}
            <small id="usernameError" class="form-text text-muted">{{ error }}</small>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{form.password.label_tag}}
            <input type="password" name="password" required class="form-control" id="id_password" placeholder="Password">
            {% if form.password.errors %}
            {% for error in form.username.errors %}
            <small id="passwordError" class="form-text text-muted">{{ error }}</small>
            {% endfor %}
            {% endif %}
        </div>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <small id="error" class="form-text text-muted">{{ error }}</small>
        {% endfor %}
        {% endif %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log In</button>
        </div>
    </form>
</div>
{% endblock content %}