#menu ul{
    display: flex;
    list-style: none;
}
#menu li{
    padding-left: 10px;
    list-style: none;
}
#menu a:visited{
    color: #000;
}
#menu a:link{
    color: #000;
}
#menu a:hover{
    color: #500;
}
#menu a{
    text-decoration: none;
}
#submenu{
    border: 1px solid #adadad;
    background-color: #ffa;
    position: absolute;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid rgb(173, 173, 173);
    padding: 0 8px 0 0;
}
#submenu li{
    display: list-item;
    text-align: left;
    padding-left: 0;
    padding: 2px;
}
.card{
    border: 1px solid rgb(9, 26, 99);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.lista{
    display: flex;
    list-style: none;
}
.lista span{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
