.NavbarGroup{
    background: none;
    /* height: 100%; */
    border: none;
    color: white;
    display: flex;
    align-items: center;
}
.NavbarGroupBetween{
    justify-content: space-between;
    width: 100%;
}
@media (max-width: 992px){
    .NavbarCollapseGroup {
        display: none;
    }
}
