.NavDropdown {
    display: flex;
    align-items: center;
    padding: 0 15px;
    border: none;
    background: transparent;
    outline: 0;
    position: relative;
    font-size: 1.6rem;
}
.NavDropdown span{
    cursor: pointer;
}
.DropdownContent{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding-top: .5rem;
    font-size: 1rem;
    text-align: left;
}
.hidden{
    display: none;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: default;
    background-color: rgba(52, 58, 64, 0.5);
    opacity: 0.6;
    z-index: 990;
}
.reveal{
    animation-name: slide;
}
.hide{
    transform: translateX(100%);
    animation-name: hide;
}
.DropdownContent .Content{
    background-color: #ffffff;
    border-radius: 0.25rem;
    color: black;
    padding-top: .3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mobile{
    display: none;
}
.mobile .Content{
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
    z-index: 1000;
    border: none;
    border-radius: 0;
    background-color: black;
    color: aliceblue;
    animation-duration: 0.5s;
}
@keyframes slide {
    to {transform: translateX(0%);}
    from {transform: translateX(100%);}
}
@keyframes hide {
    to {transform: translateX(100%);}
    from {transform: translateX(0%);}
}
@media (max-width: 992px){
    .mobile{
        display: flex;
    }
}
@media (max-width: 768px) {
    .mobile .Content{width: 50%;}
}
@media (max-width: 576px) {
    .mobile .Content{width: 70%;}
}