.UserMenuNav{
    margin: 0;
    padding: 0;
}
.UserMenuNav a{
    color: black;
    padding-bottom: .75rem;
}
.UserMenuNav .ListItem{
    padding: 0;
}
.UserMenuNav a:hover{
    color: #067cff;
    background-color: rgba(0, 0, 0, .075);
}
.UserMenuNav .ListLayout{
    margin-top: 0;
}