{% extends "base.html" %}

{% block title %}
{% if chapter.name %}
{{ chapter.name }}
{% else %}
{{ chapter.user_chapter_number }}
{% endif %}
{% endblock title %}

{% block static_files %}
{% comment %} <style>
    #portapdf { 
        width: 500px; 
        height: 300px; 
        border: 1px solid #484848;
        margin: 0 auto; 
    }
</style> {% endcomment %}
{% endblock static_files %}

{% block content %}
<p>{{ chapter.manga }}</p>
<p>{{ chapter.owner }}</p>
<div id="portapdf">
    <object data="/media/{{ chapter.content }}#toolbar=0&page=4" type="application/pdf" width="500" height="700"></object> 
</div>
{% comment %} <embed id="target" src="/media/{{ chapter.content }}#toolbar=0&page=4" width="500" height="700" type='application/pdf'> {% endcomment %}
<p>{{ chapter.user_chapter_number }}</p>
<p>{{ chapter.name }}</p>
{% endblock content %}
