{% extends "base.html" %}{% load static %}

{% block title %}Añadir capitulo{% endblock title %}

{% block static_files %}
<script src="{% static 'js/chapterAddAjax.js' %}"></script>
<script src="http://hayageek.github.io/jQuery-Upload-File/4.0.11/jquery.uploadfile.min.js"></script>
<link href="http://hayageek.github.io/jQuery-Upload-File/4.0.11/uploadfile.css" rel="stylesheet">
{% endblock static_files %}

{% block content %}
<h1>New Chapter</h1>
<form id="chapterAddForm" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div id="fileuploader">Upload</div>
  <div id="output"></div>
  <div id="eventsmessage"></div>
  <button type="submit" name="button" class="ajax-file-upload-green">Submit</button>
</form>
{% endblock %}
