{% extends "base.html" %}{% load static %}

{% block title %}
{% if chapter.name %}
{{ chapter.name }}
{% else %}
{{ chapter.user_chapter_number }}
{% endif %}
{% endblock title %}

{% block static_files %}
<style>
    #pageImage img{ 
        width: 400px;
        border: 1px solid #484848;
        margin: 0 auto;
    }
    p{
        margin-bottom: 0.2rem;
    }
</style>
{% endblock static_files %}

{% block content %}
<h3>{{ chapter.manga }}</h3>
<p>Creador: {{ chapter.author }}</p>
<p>Numero: {{ chapter.user_chapter_number }}</p>
{% if chapter.name %}
<span>Nombre:{{ chapter.name }}</span>
{% endif %}
{% if page.number == page.backPage %}
{% else %}
<a href="?page={{page.backPage}}">Anterior</a>
{% endif %}
{% if page.number == page.nexPage %}
{% else %}
<a href="?page={{page.nexPage}}">Sigiente</a>
{% endif %}

<div id="pageImage">
    <p >pagina {{page.number}}</p>
    <img src="{{page.image.url}}" alt="pagina {{page.number}}" p-n="{{page.number}}">
</div>
{% endblock content %}
