{% extends "base.html" %}{% load static %}

{% block title %}
{% if chapter.name %}
{{ chapter.name }}
{% else %}
{{ chapter.user_chapter_number }}
{% endif %}
{% endblock title %}

{% block static_files %}
<script src="{% static 'js/ajax_chapter.js' %}"></script>
<style>
    #pageImage img{ 
        width: 400px;
        border: 1px solid #484848;
        margin: 0 auto;
    }
</style>
{% endblock static_files %}

{% block content %}
<p>{{ chapter.manga }}</p>
<p>{{ chapter.owner }}</p>
<p>{{ chapter.user_chapter_number }}</p>
<p>{{ chapter.name }}</p>
<button id="previous">Anterior</button>
<button id="next">Sigiente</button>
<div id="pageImage">
    <img src="/media/{{pages.0.image}}" alt="pagina {{pages.0.number}}">
</div>
{% endblock content %}
