{% extends "base.html" %}

{% block title %}{{ manga.title }}{% endblock title %}

{% block stylesheet %}

{% endblock stylesheet %}

{% block content %}
<h1>{{ manga.title }}</h1>
<p>{{ manga.author }}</p>
<p>{{manga.description}}</p>
<p>{{ manga.published_date }}</p>
<p>{{ manga.state }}</p>
<ol>
  {% for i in manga.genres.all %}
  <li>{{ i }}</li>
  {% endfor %}
</ol>
{% if perms.manageManga.add_manga %}
<a href="">BBBBBBBBBBBBBBBB</a>
{% else %}
{% endif %}
{% if user.id == manga.author.id %}
<a href="">AAAAAAAAAAAAAAA</a>
{% else %}

{% endif %}
{% endblock content %}
