{% extends "base.html" %}
{% load static %}

{% block title %}Lista de mangas{% endblock title %}

{% block static_files %}
  <link rel="stylesheet" href="{% static 'css/manga_list_filterForm.css' %}">
  <script src="{% static 'js/manga_forms.js' %}"></script>
{% endblock static_files %}

{% block content %}

<a href="{% url 'manageManga:manga_add'  %}">Añadir manga</a>

<div>
  <div class="search">
    <form method="get" action="{% url 'manageManga:list_of_mangas' %}">
      {{ search_form.slug }}
      <button type="submit"><b>Search</b></button>
    </form>
  </div>

  <form id='menu' class="filter_form" method="get" action="{% url 'manageManga:list_of_mangas' %}" name="filter_form">
    <ul>
      <li>
        {{ filter_form.state.label_tag }}
        {{ filter_form.state }}
      </li>
      <li>
        <a href='#'> {{ filter_form.genres.label }} >>> </a>
        <ul id="submenu">
          {% for st in filter_form.genres %}
          <li>{{ st }}</li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <a href='#'> {{ filter_form.order.label }} >>> </a>
        {% comment %} {{ filter_form.order }} {% endcomment %}
        <ul id="submenu">
          {% for st in filter_form.order %}
          <li>{{ st }}</li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <button type="submit">Filter</button>
      </li>
    </ul>
  </form>
</div>
  

<ul class="lista">
  {% for mng in mangas_list %}
    <li class="card">
        <a href="{% url 'manageManga:manga_detail' slug=mng.slug %}">{{ mng.title }}</a>
        <span>{{ mng.author }}</span>
        <span>{{ mng.description }}</span>
        <span>{{ mng.published_date }}</span>
        <span>{{ mng.state.name }}</span>
    </li><br>
  {% endfor %}
</ul>

{% if page_obj.has_previous %}
  {% if page_obj.previous_page_number == 1 %}
<a href="{% url 'manageManga:list_of_mangas' %}?page={{ page_obj.previous_page_number }}{{ args_get }}">
Ir a página {{ page_obj.previous_page_number }}
</a>
  {% else %}
<a href="{% url 'manageManga:list_of_mangas' %}?page=1{{ args_get }}">
Primera
</a>
<a href="{% url 'manageManga:list_of_mangas' %}?page={{ page_obj.previous_page_number }}{{ args_get }}">
Ir a página {{ page_obj.previous_page_number }}
</a>
  {% endif %}
{% endif %}

<br><span>{{ page_obj.number }}</span><br>

{% if page_obj.has_next %}
  {% if page_obj.next_page_number == page_obj.paginator.num_pages %}
<a href="{% url 'manageManga:list_of_mangas' %}?page={{ page_obj.next_page_number }}{{ args_get }}">
Ir a página {{ page_obj.next_page_number }}
</a>
  {% else %}
<a href="{% url 'manageManga:list_of_mangas' %}?page={{ page_obj.next_page_number }}{{ args_get }}">
Ir a página {{ page_obj.next_page_number }}
</a>
<a href="{% url 'manageManga:list_of_mangas' %}?page={{ page_obj.paginator.num_pages }}{{ args_get }}">
Ultima
</a>
  {% endif %}

{% endif %}

{% endblock content %}
