{% extends "base.html" %}
{% load static %}

{% block title %}Lista de mangas{% endblock title %}

{% block static_files %}
  <link rel="stylesheet" href="{% static 'css/manga_list.css' %}">
  <script src="{% static 'js/manga_forms.js' %}"></script>
{% endblock static_files %}

{% block content %}

<div>
	<form id='menu' class="filter_form form-inline m-3" method="get" action="{% url 'manageManga:list_of_mangas' %}" name="filter_form">	
		<div class="form-group ml-2">
			<div class="input-group input-group-sm">
				<div class="input-group-prepend">
					<label class="input-group-text" for="id_state" id="label-state">Estado:</label>
				</div>
				{{ filter_form.state }}
			</div>
		</div>
		
		<div class="form-group ml-2">
			<div class="dropdown">
				<button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuGenres" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{filter_form.genres.label}}
				</button>
				<div class="dropdown-menu" id="genre_menu" aria-labelledby="dropdownMenuGenres">
					{% for i in filter_form.genres %}
					<div class="form-check pl-1">
							<input class="form-check-input" type="checkbox" name="genres" value="{{i.data.value}}" id="id_genres_{{i.data.index}}" {% ifequal i.data.selected True %} checked="checked" {% endifequal %}>
							<label class="form-check-label" for="id_genres_{{i.data.index}}">
								{{i.data.label}}
							</label>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="form-group ml-2">
			<div class="dropdown">
				<button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuOrder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{filter_form.order.label}}
				</button>
				<div class="dropdown-menu" id="genre_menu" aria-labelledby="dropdownMenuOrder">
					{% for i in filter_form.order %}
					<div class="form-check pl-1">
						<input class="form-check-input" type="radio" name="order" value="{{i.data.value}}" id="id_order_{{i.data.index}}" {% ifequal i.data.attrs.checked True %} checked {% endifequal %}>
						<label class="form-check-label" for="id_order_{{i.data.index}}">
							{{i.data.label}}
						</label>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="form-group ml-2">
			<button type="submit" class="btn btn-dark">Filter</button>
		</div>
	</form>
</div>

<section class="mangas">
	{% for mng in mangas_list %}
	<div class="card m-2" style="max-width:180px;">
		<div>
			<a href="{% url 'manageManga:manga_detail' slug=mng.slug %}">
				<img class="card-img-top img-fluid" style="max-height:260px" src="{{ mng.image.url }}" alt="{{ mng.title }}">
			</a>
		</div>
		<div class="p-2 card-body">
			<figcaption class="figure-caption"> <span class="card-title"> {{ mng.title }} </span></figcaption>
		</div>
	</div>
	{% endfor %}
</section>

{% if page_obj.has_previous %}
{% if page_obj.previous_page_number == 1 %}
<a href="{% url 'manageManga:list_of_mangas' %}?page={{ page_obj.previous_page_number }}{{ args_get }}">
Ir a página {{ page_obj.previous_page_number }}
</a>
{% else %}
<a href="{% url 'manageManga:list_of_mangas' %}?page=1{{ args_get }}">
Primera
</a>
<a href="{% url 'manageManga:list_of_mangas' %}?page={{ page_obj.previous_page_number }}{{ args_get }}">
Ir a página {{ page_obj.previous_page_number }}
</a>
{% endif %}
{% endif %}

<br><span>{{ page_obj.number }}</span><br>

{% if page_obj.has_next %}
{% if page_obj.next_page_number == page_obj.paginator.num_pages %}
<a href="{% url 'manageManga:list_of_mangas' %}?page={{ page_obj.next_page_number }}{{ args_get }}">
Ir a página {{ page_obj.next_page_number }}
</a>
{% else %}
<a href="{% url 'manageManga:list_of_mangas' %}?page={{ page_obj.next_page_number }}{{ args_get }}">
Ir a página {{ page_obj.next_page_number }}
</a>
<a href="{% url 'manageManga:list_of_mangas' %}?page={{ page_obj.paginator.num_pages }}{{ args_get }}">
Ultima
</a>
{% endif %}
{% endif %}

{% endblock content %}
