{% extends "base.html" %}

{% block title %}Lista de mangas{% endblock title %}

{% block stylesheet %}

{% endblock stylesheet %}

{% block content %}

<div class="filter_form">
  <form action="?" method="get" name="filter_form">
    {% comment %} <div id="checkbox_div">
      <p>Estado:</p>
      {{ form.state }}
    </div>
    <div class="gender_checkbox_list">
      Generos:
      {{ form.genders }}
      {{ form.genders.errors }}
    </div> {% endcomment %}
    {{form.as_p}}
    <button type="submit">a</button>
  </form>
</div>

<ul class="lista">
  {% for mng in mangas_list %}
    <li>
        <a href="{% url 'manageManga:manga_detail' slug=mng.slug manga_id=mng.id %}">{{ mng.title }}</a>
        <p>{{ mng.author }}</p>
        <p>{{ mng.description }}</p>
        <p>{{ mng.published_date }}</p>
        <p>{{ mng.state }}</p>
    </li>
  {% endfor %}
</ul>

{% if page_obj.has_previous %}
<a href="{% url 'manageManga:list_of_mangas' %}?page={{ page_obj.previous_page_number }}">
Ir a página {{ page_obj.previous_page_number }}
</a>
{% endif %}
La página actual es {{ page_obj.number }}
{% if page_obj.has_next %}
<a href="{% url 'manageManga:list_of_mangas' %}?page={{ page_obj.next_page_number }}">
Ir a página {{ page_obj.next_page_number }}
</a>
{% endif %}

{% endblock content %}
