{% extends "base.html" %}
{% load staticfiles %}

{% block css %}{% endblock css %}

{% block title %}Sing Up{% endblock title %}

{% block content %}
<div>
    <br>
    <h2>Sing Up</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{form.username.label_tag}}
            <input class="form-control" type="text"  name="username" maxlength="150" autofocus required id="id_username">
            {% if form.username.errors %}
            {% for error in form.username.errors %}
            <small id="usernameError" class="form-text text-muted">{{ error }}</small>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{form.email.label_tag}}
            <input class="form-control" type="email" name="email" required id="id_email">
            {% if form.email.errors %}
            {% for error in form.email.errors %}
            <small id="emailError" class="form-text text-muted">{{ error }}</small>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{form.password1.label_tag}}
            <input class="form-control" type="password" name="password1" required id="id_password1">
            {% if form.password1.errors %}
            {% for error in form.password1.errors %}
            <small id="password1Error" class="form-text text-muted">{{ error }}</small>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{form.password2.label_tag}}
            <input class="form-control" type="password" name="password2" required id="id_password2">
            {% if form.password2.errors %}
            {% for error in form.password2.errors %}
            <small id="password2Error" class="form-text text-muted">{{ error }}</small>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log In</button>
        </div>
    </form>
</div>
{% endblock content %}