{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Tu Manga{% endblock title %}</title>
        <!-- css files -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
        {% block css %}{% endblock css %}
        <!-- script -->
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block static_files %}{% endblock static_files %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2" role="navigation">
                <div class="container">
                    <a class="navbar-brand  mb-0 h1" href="{% url "home" %}"> Manga<span class="sr-only">(current)</span></a>
                    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="exCollapsingNavbar">
                        <ul class="nav navbar-nav">
                            <li class="nav-item"><a href="{% url "manageManga:list_of_mangas" %}" class="nav-link">Manga List</a></li>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "manageManga:manga_add" %}">New Manga</a>
                            </li>
                            {% endif %}
                            <!-- <li class="nav-item"><a href="#" class="nav-link">More</a></li> -->
                        </ul>
                        <ul class="nav navbar-nav ml-auto">
                            {% if user.is_authenticated %}
                            <li class="nav-item mr-2">
                                <span class="navbar-text">{{ user.username }}</span>
                            </li>
                            <li class="nav-item mr-2">
                                <a class="nav-link" href="{% url "accounts:logout" %}?next={{request.path}}">Log out</a>
                            </li>
                            {% else %}
                            {% endif %}
                            <form class="form-inline" method="get" action="{% url 'manageManga:list_of_mangas' %}">
                                <div class="input-group">
                                    <input type="search" class="form-control form-control-sm my-round-left" maxlength="100" placeholder="Search" name="search" id="id_search" aria-label="Search">
                                    <div class="input-group-append">
                                        {% comment %} <input class="btn btn-sm btn-secondary my-2 my-sm-0 fa-search" type="submit" value="&#10140;"/> {% endcomment %}
                                        {% comment %} <button class="btn btn-sm btn-secondary my-2 my-sm-0 fa-search my-round-right" type="submit"></button> {% endcomment %}
                                        <button class="btn btn-sm btn-secondary my0 fa-search my-round-right" type="submit"></button>
                                    </div>
                                </div>
                            </form>
                            {% if user.is_authenticated %}
                            {% else %}
                            <li class="dropdown ml-md-3 ml-0 mt-2 mt-md-0">
                                <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-sm btn-outline-light dropdown-toggle">Sign In / Sign Up <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right mt-1">
                                    <li class="p-3">
                                        <form class="form" role="form" method="post" action="{% url "accounts:login" %}?next={{request.path}}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="id_username_nav mb-0">Username:</label>
                                                <input type="text" class="form-control form-control-sm" name="username" required autofocus id="id_username_nav" maxlength="254" placeholder="Enter your user name">
                                            </div>
                                            <div class="form-group m-0">
                                                <label for="id_password_nav mb-0">Password:</label>
                                                <input type="password" class="form-control form-control-sm" name="password" required id="id_password_nav" placeholder="Password">
                                            </div>
                                            <div class="form-group text-xs-center">
                                                <small><a class="btn btn-sm" href="{% url "accounts:password_reset" %}" aria-disabled="true">Forgot password?</a></small>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                                            </div>
                                            <div class="form-group text-xs-center m-0">
                                                <small><a href="{% url 'accounts:singup' %}">Sign Up</a></small>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% block header %}{% endblock header %}
        </header>
        <!--Content-->
        <div class="container">
            <main>
                {% block content %}{% endblock content %}
            </main>
        </div>
       <!--footer -->
       <footer>
           {% block footer %}{% endblock footer %}
        </footer>
        
        <script src="{% static 'js/app.js' %}"></script>
        {% block javascript %}{% endblock javascript %}
    </body>
</html>