{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Tu Manga{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% block static_files %}{% endblock static_files %}
    {% block css %}{% endblock css %}
  </head>
  <body>
    <section class="container">
      <header>
        <nav class="Menu_nav">
          <a class="Brand_nav" href="{% url "home" %}">
            <p>Manga</p>
          </a>
          <ul class="Menu-list_nav">
            <li class="Menu-item_nav">
              <form method="get" action="{% url 'manageManga:list_of_mangas' %}">
                <span>
                  <input type="text" name="search" maxlength="100" placeholder="Buscar" id="id_slug">
                </span>
                <span>
                  <button type="submit"><b>Search</b></button>
                </span>
              </form>
            </li>
            {% if user.is_authenticated %}
            <li class="Menu-item_nav" id="username">
              {{ user.username }}
            </li>
            <li class="Menu-item_nav">
              <a href="{% url "manageManga:manga_add" %}">New Manga</a>
            </li>
            <li class="Menu-item">
              <a href="{% url "accounts:logout" %}?next={{request.path}}">Log out</a>
            </li>
            {% else %}
            <li class="Menu-item_nav">
              <a href="{% url "accounts:singup" %}?next={{request.path}}">Sign Up</a>
            </li>
            <li class="Menu-item_nav">
              <a href="{% url "accounts:login" %}?next={{request.path}}">Log in</a>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% block header %}{% endblock header %}
      </header>
  
      <main>
        {% block content %}{% endblock content %}
      </main>
  
      <footer>
        {% block footer %}{% endblock footer %}
      </footer>
  
      <script src="{% static 'js/app.js' %}"></script>
  
      {% block javascript %}{% endblock javascript %}
    </section>
  </body>
</html>