{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Tu Manga{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    {% block static_files %}{% endblock static_files %}
  </head>
  <body>

    <div>
      <a href="{% url 'manageManga:home' %}">Inicio</a>
    </div>

    <header>
      {% block header %}{% endblock header %}
    </header>

    <main>
      {% block content %}{% endblock content %}
    </main>

    <footer>
      {% block footer %}{% endblock footer %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

    {% block javascript %}{% endblock javascript %}
  </body>
</html>